<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
<sql id="sqlWhere">
	<if test="search_type !='' and search_type !=null">
		where
		<if test="search_type == 'all'.toString()">
			title like concat('%',#{search_keyword},'%')
			or
			content like concat('%',#{search_keyword},'%')
		</if>
		<if test="search_type == 'title'.toString()">
			title like concat('%',#{search_keyword},'%')
		</if>
		<if test="search_type == 'content'.toString()">
			content like concat('%',#{search_keyword},'%')
		</if>
	</if>
</sql>

<!-- 첨부파일은 업데이트기능인데, insert를 사용한 이유: PK가 save_file_name UUID이름인데, 수정을 할 수 없음.
	 ex) 주민번호(PK)를 수정한다고 하는 것과 같은 것으로, 허용이 안되는 것. 그래서 insert를 사용함. -->
<!-- 해당게시물의 첨부파일 업데이트(=수정) 하기 (기존에 있는 첨부파일 삭제하고 업데이트. 명분상 업데이트 라고 함.)-->
<insert id="updateAttach">
insert into tbl_attach (save_file_name, real_file_name, bno)
value (#{save_file_name}, #{real_file_name}, #{bno})
</insert>

<delete id="deleteAttach"> <!-- 해당 게시물의 첨부파일 하나 지우는 것 (Primary key=기본키 사용)-> 인덱스 자동 생성 -->
delete from tbl_attach where save_file_name = #{save_file_name}
</delete>
<delete id="deleteAttachAll"> <!-- 해당 게시물의 첨부파일 모두 지우기 (Foreign key=외래키 사용)-->
delete from tbl_attach where bno = #{bno}
</delete>

<insert id="insertAttach">
insert into tbl_attach (save_file_name, real_file_name, bno)
value (#{save_file_name}, #{real_file_name},(select bno from tbl_board order by bno desc limit 1))<!-- LAST_INSERT_ID() => 마리아 DB에서 작동이 안됨. 그래서 select씀 -->
</insert>

<update id="updateBoard">
update tbl_board set
	title = #{title},
	content = #{content},
	update_date = now() 
where bno = #{bno}
</update>

<delete id="deleteBoard">
delete from tbl_board where bno= #{bno}
</delete>

<insert id="insertBoard">
insert into tbl_board (title,content,writer,reg_date)
values (#{title},#{content},#{writer},now())
</insert>


<!-- 
<select id="readAttach_noUse" resultType="java.util.HashMap">
select save_file_name,real_file_name from tbl_attach where bno = #{bno} order by reg_date desc 첨부파일을 읽어들이는 쿼리 save,real 대신에 * 써도 된다.
</select> 
-->

<select id="readAttach" resultType="org.edu.vo.AttachVO">
select * from tbl_attach where bno = #{bno} order by reg_date desc <!-- 첨부파일을 읽어들이는 쿼리 --> <!-- save,real 대신에 * 써도 된다.->왜냐하면 AttachVO를 만들어서 사용하기 떄문이다. -->
</select>
<select id="readBoard" resultType="org.edu.vo.BoardVO">
select * from tbl_board where bno = #{bno} <!-- 입력 후 되도록이면 sql에 테스트 해보기 -->
</select>
<update id="updateViewCount">
update tbl_board set view_count = view_count + 1 <!-- 조회수 읽어들이는 쿼리 -->
where bno = #{bno}
</update>

<select id="countBoard" resultType="int">
select count(*) from tbl_board
<include refid="sqlWhere"></include>
</select>

<select id="selectBoard" resultType="org.edu.vo.BoardVO">
select * from tbl_board
<include refid="sqlWhere"></include>
order by reg_date desc
limit #{queryStartNo}, #{queryPerPageNum} <!-- 페이징처리 -->
</select>

</mapper>